
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    @*Mahmud's Calannder Link*@
    <link href="~/Content/fullcalendar.css" rel="stylesheet" type="text/css" />
    @*//////////////*@
    @*<script src="https://code.jquery.com/jquery-1.12.4.js"
            integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"
            integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
            crossorigin="anonymous"></script>*@
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    @*Mahmud's Calander Link*@
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js'></script>
    <script src="~/Scripts/jquery.responsiveTabs.js"></script>
    <link type="text/css" rel="stylesheet" href="~/Content/responsive-tabs.css" />
    @*//////////////*@
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="">
            <div class="navbar-header col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-3">
                        <a href="../Home/Index">
                            <img src="~/Content/opt-imgs/petabyte-h-logo.png" class="nav-logo" />
                        </a>
                    </div>
                    <div class="text-right col-md-10 col-sm-10 col-9">
                        <ul id="main-nav">
                            <li class="dropdown nav-item">
                                <a class="dropdown-toggle menu-link" data-toggle="dropdown">About Us</a>
                                <ul class="dropdown-menu">
                                    <li class="col-md-12 col-sm-12 col-12"><a class="drop-link" href="../Home/AboutUs">The Team</a></li>
                                    <li class="col-md-12 col-sm-12 col-12"><a class="drop-link" href="../Home/AboutUs">News</a></li>
                                    <li class="col-md-12 col-sm-12 col-12"><a class="drop-link" href="../Home/AboutUs">Departments</a></li>
                                    <li class="col-md-12 col-sm-12 col-12"><a class="drop-link" href="../Home/AboutUs">Research</a></li>
                                </ul>
                            </li>
                            <li class="dropdown nav-item">
                                <a class="dropdown-toggle menu-link" data-toggle="dropdown" href="../Home/AboutUs">Patients &amp; Visitors</a>
                                <ul class="dropdown-menu">
                                    <li class="col-md-12 col-sm-12 col-12"><a class="drop-link" href="../Patient/Index">Patients</a></li>
                                    <li class="col-md-12 col-sm-12 col-12"><a class="drop-link" href="../Home/AboutUs">Gift Shop</a></li>
                                    <li class="col-md-12 col-sm-12 col-12"><a class="drop-link" href="../Home/AboutUs">What to Bring To Your Appointment</a></li>
                                    <li class="col-md-12 col-sm-12 col-12"><a class="drop-link" href="../Home/Allevents">Events</a></li>
                                    <li class="col-md-12 col-sm-12 col-12"><a class="drop-link" href="../Home/Allfeedbacks">Feedbacks</a></li>
                                    <li class="col-md-12 col-sm-12 col-12"><a class="drop-link" href="../Home/AllDepartments">Departments</a></li>
                                </ul>
                            </li>
                            <li class="dropdown nav-item">
                                <a class="dropdown-toggle menu-link" data-toggle="dropdown" href="../Home/AboutUs">Services</a>
                                <ul class="dropdown-menu">
                                    <li class="col-md-12 col-sm-12 col-12"><a class="drop-link" href="../Home/AboutUs">Our Services</a></li>
                                    <li class="col-md-12 col-sm-12 col-12"><a class="drop-link" href="../Home/AboutUs">Programs</a></li>
                                    <li class="col-md-12 col-sm-12 col-12"><a class="drop-link" href="../Home/AboutUs">Wait Times</a></li>
                                    <li class="col-md-12 col-sm-12 col-12"><a class="drop-link" href="../Home/AboutUs">Pay Bills</a></li>
                                    <li class="col-md-12 col-sm-12 col-12"><a class="drop-link" href="../Home/AboutUs">Bus Schedules</a></li>
                                    <li class="col-md-12 col-sm-12 col-12"><a class="drop-link" href="../Home/AboutUs">Parking Lot/Spot Counter</a></li>
                                    <li class="col-md-12 col-sm-12 col-12"><a class="drop-link" href="" ../Home/AboutUs>Cafeteria Menu</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-toggle menu-link" data-toggle="dropdown" href="../Home/AboutUs">Opportunities</a>
                                <ul class="dropdown-menu">
                                    <li class="col-md-12 col-sm-12 col-12"><a class="drop-link" href="../Home/AboutUs">Volunteering &amp; Training</a></li>
                                    <li class="col-md-12 col-sm-12 col-12"><a class="drop-link" href="../JobApplicants/Create">Careers</a></li>
                                    <li class="col-md-12 col-sm-12 col-12"><a class="drop-link" href="../Home/AboutUs">Student Placement</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-toggle menu-link" data-toggle="dropdown" href="../Home/AboutUs">Donation</a>
                                <ul class="dropdown-menu">
                                    <li class="col-md-12 col-sm-12 col-12"><a class="drop-link" href="../Donations/Create">Donate Today!</a></li>
                                    <li class="col-md-12 col-sm-12 col-12"><a class="drop-link" href="../Home/AboutUs">Donor Profiles</a></li>
                                    <li class="col-md-12 col-sm-12 col-12"><a class="drop-link" href="../Home/AboutUs">Community Profile</a></li>
                                    <li class="col-md-12 col-sm-12 col-12"><a class="drop-link" href="../Home/AboutUs">Intergration Partnership</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="menu-link" href="../Faq/Index">FAQ</a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-toggle menu-link" data-toggle="dropdown" href="../Home/AboutUs">Contact</a>
                                <ul class="dropdown-menu">
                                    <li class="col-md-12 col-sm-12 col-12"><a class="drop-link" href="../Home/AboutUs">Feedback Form</a></li>
                                    <li class="col-md-12 col-sm-12 col-12"><a class="drop-link" href="../Home/AboutUs">Help Form</a></li>
                                    <li class="col-md-12 col-sm-12 col-12"><a class="drop-link" href="../Home/AboutUs">Map/Info</a></li>
                                    <li class="col-md-12 col-sm-12 col-12"><a class="drop-link" href="../Home/AboutUs">Site Visit</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!--end of desktop menu-->
            <div class="navbar-collapse">
                <div class="row col-md-12 col-sm-12 col-12">
                    <a href="#">
                        <img src="~/Content/opt-imgs/petabyte-h-logo.png" class="nav-logo" width="100" />
                    </a>
                    <button id="mobile-btn" data-toggle="collapse" data-target="#mobile-menu">Menu</button>
                </div>
                <div class="row">
                    <div id="mobile-menu" class="collapse">
                        <!------------------>
                        <ul class="col-md-6 col-sm-12 col-12">
                            <li class="mobile-link"><a href="../Home/AboutUs">About</a></li>
                            <li class="mobile-link"><a href="../Home/AboutUs">The Team</a></li>
                            <li class="mobile-link"><a href="../Home/AboutUs">News</a></li>
                            <li class="mobile-link"><a href="../Home/AboutUs">Departments</a></li>
                            <li class="mobile-link"><a href="../Home/AboutUs">Research</a></li>
                            <li class="mobile-link"><a href="../Home/AboutUs">Patients &amp; Visitors</a></li>
                            <li class="mobile-link"><a href="../Home/AboutUs">Gift Shop</a></li>
                            <li class="mobile-link"><a href="../Home/AboutUs">What to Bring To Your Appointment</a></li>
                            <li class="mobile-link"><a href="../Home/AboutUs">Services</a></li>
                            <li class="mobile-link"><a href="../Home/AboutUs">Our Services</a></li>
                            <li class="mobile-link"><a href="../Home/AboutUs">Programs</a></li>
                            <li class="mobile-link"><a href="../Home/AboutUs">Wait Times</a></li>
                            <li class="mobile-link"><a href="../Home/AboutUs">Pay Bills</a></li>
                            <li class="mobile-link"><a href="../Home/AboutUs">Bus Schedules</a></li>
                            <li class="mobile-link"><a href="../Home/AboutUs">Parking Lot/Spot Counter</a></li>
                            <li class="mobile-link"><a href="../Home/AboutUs">Cafeteria Menu</a></li>
                        </ul>
                        <ul class="col-md-6 col-sm-12 col-12">
                            <li class="mobile-link"><a href="../Home/AboutUs">Opportunities</a></li>
                            <li class="mobile-link"><a href="../Home/AboutUs">Volunteering &amp; Training</a></li>
                            <li class="mobile-link"><a href="../Home/AboutUs">Careers</a></li>
                            <li class="mobile-link"><a href="../Home/AboutUs">Student Placement</a></li>
                            <li class="mobile-link"><a href="../Home/AboutUs">Donation</a></li>
                            <li class="mobile-link"><a href="../Home/AboutUs">Donate Today!</a></li>
                            <li class="mobile-link"><a href="../Home/AboutUs">Donor Profiles</a></li>
                            <li class="mobile-link"><a href="../Home/AboutUs">Community Profile</a></li>
                            <li class="mobile-link"><a href="../Home/AboutUs">Intergration Partnership</a></li>
                            <li class="mobile-link"><a href="../Faq/Index">FAQ</a></li>
                            <li class="mobile-link"><a href="../Home/AboutUs">Contact</a></li>
                            <li class="mobile-link"><a href="../Home/AboutUs">Feedback Form</a></li>
                            <li class="mobile-link"><a href="../Home/AboutUs">Help Form</a></li>
                            <li class="mobile-link"><a href="../Home/AboutUs">Map/Info</a></li>
                            <li class="mobile-link"><a href="../Home/AboutUs">Site Visit</a></li>
                        </ul>
                        <!------------------>
                    </div>
                </div>
            </div>
            <!--end of mobile menu-->
        </div>
    </div>
    <!------end of nav------->

    <div class="margin-top-50">
        @RenderBody()
        <div id="footer">
            <div class="wrapper row">
                <div class="footer__link-set row col-md-8 col-sm-12 col-12">
                    <div class="col-md-6 col-sm-6 col-12">
                        <ul>
                            <li><a href="">Accessibility Plan</a></li>
                            <li><a href="">Code of Conduct</a></li>
                            <li><a href="">Patient Saftey</a></li>
                            <li><a href="">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <ul>
                            <li><a href="">Strategic Plan 2020</a></li>
                            <li><a href="">Your Rights &amp; Responsibilities</a></li>
                            <li><a href="">Your Privacy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer__link-set col-md-4 col-sm-12 col-12">
                    <ul>
                        <li><a href="http://humber.ca/" target="_blank">Humber College</a></li>
                        <li><a href="https://mediastudies.humber.ca/programs/by-type/postgraduates/web-development.html" target="_blank">Web Development Program</a></li>
                        <li><a href="mailto:Bernie.Monette@humber.ca">Bernie.Monette@humber.ca</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    @*<script src="https://code.jquery.com/jquery-1.12.4.js"
            integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"
            integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
            crossorigin="anonymous"></script>*@
    
    <script src="../Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    @*<script src="../Scripts/googlemaps.js"></script>*@
    @*Mahmud's Calander Link*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/fullcalendar.min.js"></script>
    @*//////////////*@

</body>
</html>